@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";
body{
  margin:0;
  padding:0;
  background:#0f172a;
  color:white;
  font-family:'Inter', sans-serif;
}